* {
    bg-col:        #1f1f28;
    bg-col-light:  #2a2a37;
    border-col:    #363646;
    selected-col:  #54546d;
    blue:          #7e9cd8;
    fg-col:        #dcd7ba;
    fg-col2:       #c34043;
    grey:          #727169;
}
