* {
    bg-col:        #191724;
    bg-col-light:  #1f1d2e;
    border-col:    #26233a;
    selected-col:  #403d52;
    blue:          #c4a7e7;
    fg-col:        #e0def4;
    fg-col2:       #eb6f92;
    grey:          #6e6a86;
}
