* {
    bg-col:        #002b36;
    bg-col-light:  #073642;
    border-col:    #094555;
    selected-col:  #0d5c72;
    blue:          #268bd2;
    fg-col:        #839496;
    fg-col2:       #dc322f;
    grey:          #657b83;
}
